<main>
    <form class="product-form" action = "/admin/add-product" method="POST">
        <div class="form-control">
            <label for="firstname">Firstname</label><br>
            <input type="text" name = "fname" id="firstname">
        </div>
        <button type="submit">Add Product</button>
    </form>
</main>