<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assign4.css"> 
</head>
<body>
    <header class = "main-header">
        <nav class = "main-header__nav">
            <ul class = "main-header__item-list">
                <li class= "main-header__item"><a class = "<%= path === '/' ? 'active' : '' %>" href = "/">Home</a></li>
                <li class= "main-header__item"><a class = "<%= path === '/users' ? 'active' : '' %>" href = "/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="product-form" action = "/" method="POST">
            <div class="form-control">
                <label for="firstname">Firstname</label><br>
                <input type="text" name = "fname" id="firstname">
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>